In [1]:
from fastai.structured import *
from fastai.column_data import *

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
PATH = './'

In [3]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(df.count())

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [5]:
for i in ['Sex','Embarked','Pclass','Parch']: print(df[i].value_counts())

male      577
female    314
Name: Sex, dtype: int64
S    644
C    168
Q     77
Name: Embarked, dtype: int64
3    491
1    216
2    184
Name: Pclass, dtype: int64
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
df = pd.read_csv('train.csv')
for x in ['Name','Ticket','Cabin','Embarked']: del df[x]
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [9]:
cat = ['PassengerId','Pclass','Sex','Age','SibSp','Parch','Survived']
non_cat = ['Fare']

In [10]:
for v in non_cat:
    df[v] = df[v].astype('float32')
#     dfts[v] = dfts[v].astype('float32')
    
for v in cat:
    df[v] = df[v].astype('category')
#     dfts[v] = dfts[v].astype('category')

In [11]:
df.dtypes

PassengerId    category
Survived       category
Pclass         category
Sex            category
Age            category
SibSp          category
Parch          category
Fare            float32
dtype: object

In [74]:
# apply_cats(dfts,dftr)

In [13]:
# n,nts = len(dftr),len(dfts); print(n,nts)
n = len(df)
n

891

In [16]:
df_tr, y, nas, mapper = proc_df(df, 'Survived', do_scale=True,skip_flds=['PassengerId'])

In [18]:
df_tr.head()

   Pclass  Sex  Age  SibSp  Parch      Fare
0       3    2   29      2      1 -0.502445
1       1    1   52      2      1  0.786845
2       3    1   35      1      1 -0.488854
3       1    1   48      2      1  0.420730
4       3    2   48      1      1 -0.486337

In [19]:
y

[0, 1, 1, 1, 0, ..., 0, 1, 0, 1, 0]
Length: 891
Categories (2, int64): [0, 1]

In [22]:
val_idx = get_cv_idxs(len(df_tr))
val_idx

array([709, 439, 840, 720,  39, 290, 300, 333, 208, 136, 137, 696, 485, 244, 344, 853, 621, 653, 886, 110,
       294, 447, 192, 682, 538, 819,  30, 673,  63, 396, 877, 141, 793, 235, 204, 620,  23, 198, 842, 739,
       120, 477, 837, 790, 362,  86,  67, 350, 210, 659, 448, 820, 360, 802, 280, 585,  70, 299, 211,  44,
       408, 446, 426, 168, 196, 772,  72, 422, 532, 591, 312, 311, 889, 835, 833, 605, 767, 539, 357, 254,
       266,  66, 319, 778, 174, 493, 215, 309, 822, 250, 165, 541, 625, 388,  76, 281, 712, 338, 327, 321,
       545, 590, 291, 465, 814, 442, 670, 462, 286, 209, 669, 227, 849, 512, 527, 876,  96, 292, 323, 736,
       529, 218, 275,  78, 785, 604, 796, 139, 578, 494, 359,  65, 481, 777, 599, 830, 306, 231, 845,  49,
       652, 854, 342, 594, 885, 416, 213,  33,  31, 668, 584, 514, 688, 109,  77, 611, 643,  82, 518, 657,
       296, 507, 808, 375,   5,  54, 398, 457, 521, 363,  97, 417, 572, 852, 433, 773,  25,  84])

In [27]:
cat_var = ['Pclass','Sex','Age','SibSp','Parch']

In [45]:
md = ColumnarModelData.from_data_frame(PATH, val_idx, df_tr, y.astype(np.float32), cat_flds=cat_var, bs=16,
                                       test_df=df_tr.iloc[val_idx])

In [46]:
df.dtypes

PassengerId    category
Survived       category
Pclass         category
Sex            category
Age            category
SibSp          category
Parch          category
Fare            float32
dtype: object

In [47]:
cat_sz = [(c, len(df[c].cat.categories)+1) for c in cat_var]
cat_sz

[('Pclass', 4), ('Sex', 3), ('Age', 89), ('SibSp', 8), ('Parch', 8)]

In [48]:
emb_szs = [(c, min(50, (c+1)//2)) for _,c in cat_sz]
emb_szs

[(4, 2), (3, 2), (89, 45), (8, 4), (8, 4)]

In [55]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_var),
                   0, 1, [1000,500], [0.0,0.0],use_bn=True)

In [56]:
m.fit(0.01, 1)

A Jupyter Widget

  0%|          | 0/45 [00:00<?, ?it/s]

RuntimeError: running_mean should contain 1 elements not 3