In [308]:
# To plot inline
%matplotlib inline

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [309]:
data_train = pd.read_csv('train.csv')
print('Number Of Rows: {}'.format(len(data_train)))
print('--------------------------')
data_train.head()

Number Of Rows: 891
--------------------------

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [310]:
for x in ['Name','Ticket','Cabin','Embarked']: del data_train[x]
data_train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [311]:
data_train.Sex = data_train.Sex.astype('category').cat.codes
data_train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [312]:
data_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex               int8
Age            float64
SibSp            int64
Parch            int64
Fare           float64
dtype: object

In [313]:
print(data_train.isnull().any())
print('----------------------------------')
print('Number Of Rows: {}'.format(len(data_train)))

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare           False
dtype: bool
----------------------------------
Number Of Rows: 891

In [314]:
print("Average Age Men: %.2f\nAverage Age Women %0.2f"%(data_train[data_train['Sex'] == 0].Age.mean(),data_train[data_train['Sex'] == 1].Age.mean()))
male_mean_age = data_train[data_train['Sex'] == 0].Age.mean()
female_mean_age = data_train[data_train['Sex'] == 1].Age.mean()
# data_train.set_index('Sex',inplace=True)
# data_train.loc[0].Age.fillna(male_mean_age,inplace=True)
# data_train.loc[1].Age.fillna(female_mean_age,inplace=True)
# data_train = data_train.reset_index()
# data_train.isnull().any()
data_train.loc[data_train['Sex'] == 0,'Age'] = data_train.loc[data_train['Sex'] == 0,'Age'].fillna(male_mean_age)
data_train.loc[data_train['Sex'] == 1,'Age'] = data_train.loc[data_train['Sex'] == 1,'Age'].fillna(female_mean_age)
data_train

Average Age Men: 27.92
Average Age Women 30.73

     PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch      Fare
0              1         0       3    1  22.000000      1      0    7.2500
1              2         1       1    0  38.000000      1      0   71.2833
2              3         1       3    0  26.000000      0      0    7.9250
3              4         1       1    0  35.000000      1      0   53.1000
4              5         0       3    1  35.000000      0      0    8.0500
5              6         0       3    1  30.726645      0      0    8.4583
6              7         0       1    1  54.000000      0      0   51.8625
7              8         0       3    1   2.000000      3      1   21.0750
8              9         1       3    0  27.000000      0      2   11.1333
9             10         1       2    0  14.000000      1      0   30.0708
10            11         1       3    0   4.000000      1      1   16.7000
11            12         1       1    0  58.000000      0      0   26.5500
12            13         0       3    1  20.000000      0      0    8.0500
13            14         0       3    1  39.000000      1      5   31.2750
14            15         0       3    0  14.000000      0      0    7.8542
15            16         1       2    0  55.000000      0      0   16.0000
16            17         0       3    1   2.000000      4      1   29.1250
17            18         1       2    1  30.726645      0      0   13.0000
18            19         0       3    0  31.000000      1      0   18.0000
19            20         1       3    0  27.915709      0      0    7.2250
20            21         0       2    1  35.000000      0      0   26.0000
21            22         1       2    1  34.000000      0      0   13.0000
22            23         1       3    0  15.000000      0      0    8.0292
23            24         1       1    1  28.000000      0      0   35.5000
24            25         0       3    0   8.000000      3      1   21.0750
25            26         1       3    0  38.000000      1      5   31.3875
26            27         0       3    1  30.726645      0      0    7.2250
27            28         0       1    1  19.000000      3      2  263.0000
28            29         1       3    0  27.915709      0      0    7.8792
29            30         0       3    1  30.726645      0      0    7.8958
..           ...       ...     ...  ...        ...    ...    ...       ...
861          862         0       2    1  21.000000      1      0   11.5000
862          863         1       1    0  48.000000      0      0   25.9292
863          864         0       3    0  27.915709      8      2   69.5500
864          865         0       2    1  24.000000      0      0   13.0000
865          866         1       2    0  42.000000      0      0   13.0000
866          867         1       2    0  27.000000      1      0   13.8583
867          868         0       1    1  31.000000      0      0   50.4958
868          869         0       3    1  30.726645      0      0    9.5000
869          870         1       3    1   4.000000      1      1   11.1333
870          871         0       3    1  26.000000      0      0    7.8958
871          872         1       1    0  47.000000      1      1   52.5542
872          873         0       1    1  33.000000      0      0    5.0000
873          874         0       3    1  47.000000      0      0    9.0000
874          875         1       2    0  28.000000      1      0   24.0000
875          876         1       3    0  15.000000      0      0    7.2250
876          877         0       3    1  20.000000      0      0    9.8458
877          878         0       3    1  19.000000      0      0    7.8958
878          879         0       3    1  30.726645      0      0    7.8958
879          880         1       1    0  56.000000      0      1   83.1583
880          881         1       2    0  25.000000      0      1   26.0000
881          882         0       3    1  33.000000      0      0    7.8958
882          883         0       3    0  22.000000      0      0   10.5167
883          884         0       2    1  28.000000      0      0   10.5000
884          885         0       3    1  25.000000      0      0    7.0500
885          886         0       3    0  39.000000      0      5   29.1250
886          887         0       2    1  27.000000      0      0   13.0000
887          888         1       1    0  19.000000      0      0   30.0000
888          889         0       3    0  27.915709      1      2   23.4500
889          890         1       1    1  26.000000      0      0   30.0000
890          891         0       3    1  32.000000      0      0    7.7500

[891 rows x 8 columns]

In [315]:
nmbr = data_train.groupby('Survived').count()['PassengerId']
nmbr

Survived
0    549
1    342
Name: PassengerId, dtype: int64

In [316]:
print('%.2f percent of total people survided.\n%.2f percent people died.'%(nmbr[1]*100/(nmbr[1] + nmbr[0]),nmbr[0]*100/(nmbr[1] + nmbr[0])))

38.38 percent of total people survided.
61.62 percent people died.

In [317]:
data_train['FamilySize'] = data_train.SibSp + data_train.Parch
del data_train['SibSp']
del data_train['Parch']
target = data_train['Survived'].copy() 
data_train.head()

   PassengerId  Survived  Pclass  Sex   Age     Fare  FamilySize
0            1         0       3    1  22.0   7.2500           1
1            2         1       1    0  38.0  71.2833           1
2            3         1       3    0  26.0   7.9250           0
3            4         1       1    0  35.0  53.1000           1
4            5         0       3    1  35.0   8.0500           0

In [318]:
gender_survival = data_train.groupby(['Survived','Sex']).count()['PassengerId']
gender_survival

Survived  Sex
0         0       81
          1      468
1         0      233
          1      109
Name: PassengerId, dtype: int64

In [319]:
pw_survided = gender_survival.iloc[1]*100/(gender_survival.iloc[1] + gender_survival.iloc[0])
pm_died = gender_survival.iloc[2]*100/(gender_survival.iloc[2] + gender_survival.iloc[3])
print('%.2f percent of the total survived are women and %.2f of the total died are men'%(pw_survided,pm_died))

85.25 percent of the total survived are women and 68.13 of the total died are men

In [320]:
del data_train['PassengerId']
del data_train['Survived']
data_train.head()

   Pclass  Sex   Age     Fare  FamilySize
0       3    1  22.0   7.2500           1
1       1    0  38.0  71.2833           1
2       3    0  26.0   7.9250           0
3       1    0  35.0  53.1000           1
4       3    1  35.0   8.0500           0

In [321]:
data_train['Pclass X Fare'] = data_train['Pclass'] * data_train['Fare']
# data_train.drop(['Pclass','Fare'],axis=1,inplace=True)
data_train.head()

   Pclass  Sex   Age     Fare  FamilySize  Pclass X Fare
0       3    1  22.0   7.2500           1        21.7500
1       1    0  38.0  71.2833           1        71.2833
2       3    0  26.0   7.9250           0        23.7750
3       1    0  35.0  53.1000           1        53.1000
4       3    1  35.0   8.0500           0        24.1500

In [322]:
data_train['Pclass X Fare X Age'] = data_train['Pclass X Fare'] * data_train['Age']
data_train.drop(['Pclass X Fare','Age'],axis=1,inplace=True)
data_train

     Pclass  Sex      Fare  FamilySize  Pclass X Fare X Age
0         3    1    7.2500           1           478.500000
1         1    0   71.2833           1          2708.765400
2         3    0    7.9250           0           618.150000
3         1    0   53.1000           1          1858.500000
4         3    1    8.0500           0           845.250000
5         3    1    8.4583           0           779.685534
6         1    1   51.8625           0          2800.575000
7         3    1   21.0750           4           126.450000
8         3    0   11.1333           2           901.797300
9         2    0   30.0708           1           841.982400
10        3    0   16.7000           2           200.400000
11        1    0   26.5500           0          1539.900000
12        3    1    8.0500           0           483.000000
13        3    1   31.2750           6          3659.175000
14        3    0    7.8542           0           329.876400
15        2    0   16.0000           0          1760.000000
16        3    1   29.1250           5           174.750000
17        2    1   13.0000           0           798.892759
18        3    0   18.0000           1          1674.000000
19        3    0    7.2250           0           605.072989
20        2    1   26.0000           0          1820.000000
21        2    1   13.0000           0           884.000000
22        3    0    8.0292           0           361.314000
23        1    1   35.5000           0           994.000000
24        3    0   21.0750           4           505.800000
25        3    0   31.3875           6          3578.175000
26        3    1    7.2250           0           666.000022
27        1    1  263.0000           5          4997.000000
28        3    0    7.8792           0           659.860359
29        3    1    7.8958           0           727.834321
..      ...  ...       ...         ...                  ...
861       2    1   11.5000           1           483.000000
862       1    0   25.9292           0          1244.601600
863       3    0   69.5500          10          5824.612644
864       2    1   13.0000           0           624.000000
865       2    0   13.0000           0          1092.000000
866       2    0   13.8583           1           748.348200
867       1    1   50.4958           0          1565.369800
868       3    1    9.5000           0           875.709371
869       3    1   11.1333           2           133.599600
870       3    1    7.8958           0           615.872400
871       1    0   52.5542           2          2470.047400
872       1    1    5.0000           0           165.000000
873       3    1    9.0000           0          1269.000000
874       2    0   24.0000           1          1344.000000
875       3    0    7.2250           0           325.125000
876       3    1    9.8458           0           590.748000
877       3    1    7.8958           0           450.060600
878       3    1    7.8958           0           727.834321
879       1    0   83.1583           1          4656.864800
880       2    0   26.0000           1          1300.000000
881       3    1    7.8958           0           781.684200
882       3    0   10.5167           0           694.102200
883       2    1   10.5000           0           588.000000
884       3    1    7.0500           0           528.750000
885       3    0   29.1250           5          3407.625000
886       2    1   13.0000           0           702.000000
887       1    0   30.0000           0           570.000000
888       3    0   23.4500           3          1963.870115
889       1    1   30.0000           0           780.000000
890       3    1    7.7500           0           744.000000

[891 rows x 5 columns]

In [323]:
X = data_train.as_matrix()
print(X)
y = target.as_matrix()

[[  3.00000000e+00   1.00000000e+00   7.25000000e+00   1.00000000e+00
    4.78500000e+02]
 [  1.00000000e+00   0.00000000e+00   7.12833000e+01   1.00000000e+00
    2.70876540e+03]
 [  3.00000000e+00   0.00000000e+00   7.92500000e+00   0.00000000e+00
    6.18150000e+02]
 ...,
 [  3.00000000e+00   0.00000000e+00   2.34500000e+01   3.00000000e+00
    1.96387011e+03]
 [  1.00000000e+00   1.00000000e+00   3.00000000e+01   0.00000000e+00
    7.80000000e+02]
 [  3.00000000e+00   1.00000000e+00   7.75000000e+00   0.00000000e+00
    7.44000000e+02]]

In [324]:
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier,GradientBoostingClassifier,VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV,StratifiedKFold,train_test_split,KFold
from sklearn.metrics import f1_score

In [340]:
n_splits = 10

x_tr,x_ts,y_tr,y_ts = train_test_split(X,y)

svc_params = {'C':[1],
              'kernel':['poly']   
                 }

rfc_params = {'n_estimators':[600],
              'min_samples_split':[20],
              'random_state':[15,30]
              'warm_start':(True,False)
             }

logr_params = {
    'penalty':['l2'],
    'max_iter':[100],
    'C':[0.1,0.3,1,3,10]
    
}   

etc_params = {'n_estimators':[20,40],
              'min_samples_split':[10,20,50],
              'random_state':[10,15,30],
              'warm_start':(True,False),
#               'criterion' : ('gini','entropy')
             }

gbc_params = {  'learning_rate':[0.1,0.15],
              'n_estimators':[10,50,80],
              'max_depth':[3,8,10],
              'warm_start':(True,False),
              'subsample' : [0.5,0.8,1.0]
             }
dtc_params = {'criterion':('gini','entropy'),
             'splitter':('best','random'),
              'max_depth':[5,10,15,None],
              'min_samples_split':[2,5,10]
             }
vtc_params = {'voting': ('hard','soft'),
             
      }

SyntaxError: invalid syntax (<ipython-input-340-41987e63e9df>, line 12)

In [341]:
skf = StratifiedKFold(n_splits=n_splits)

# clf1 = SVC()
# clf1 = GridSearchCV(clf1,svc_params,cv=skf,verbose=1,n_jobs=2)
# clf1.fit(x_tr,y_tr)

clf2 = RandomForestClassifier(warm_start=True)
clf2 = GridSearchCV(clf2,rfc_params,cv=skf,verbose=1,n_jobs=2)
clf2.fit(x_tr,y_tr)

# clf2 = LogisticRegression()
# clf2 = GridSearchCV(clf2,logr_params,cv=skf,verbose=2,n_jobs=2)
# clf2.fit(x_tr,y_tr)

# clf3 = ExtraTreesClassifier()
# clf3 = GridSearchCV(clf3,etc_params,cv=skf,verbose=1,n_jobs=2)
# clf3.fit(x_tr,y_tr)

# clf4 = GradientBoostingClassifier()
# clf4 = GridSearchCV(clf4,gbc_params,cv=skf,verbose=1,n_jobs=2)
# clf4.fit(x_tr,y_tr)

# clf5 = DecisionTreeClassifier()
# clf5 = GridSearchCV(clf5,dtc_params,cv=skf,verbose=1,n_jobs=2)
# clf5.fit(x_tr,y_tr)

# models = [x.best_estimator_ for x in [clf1,clf2,clf3,clf4,clf5,clf6]]
# scores = [x.best_score_ for x in [clf1,clf2,clf3,clf4,clf5,clf6]]

Fitting 10 folds for each of 2 candidates, totalling 20 fits

[Parallel(n_jobs=2)]: Done  20 out of  20 | elapsed:    8.7s finished

GridSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
       error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=True),
       fit_params={}, iid=True, n_jobs=2,
       param_grid={'n_estimators': [400], 'min_samples_split': [20], 'random_state': [15, 30]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=1)

In [342]:
print(clf2.best_estimator_)
print("Grid Best Score: %.2f"%clf2.best_score_)
training_acc = clf2.best_estimator_.score(x_tr,y_tr)
test_acc = clf2.best_estimator_.score(x_ts,y_ts)
print("Training Score: %.2f\nTesting Score: %.2f" %(training_acc,test_acc))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=20, min_weight_fraction_leaf=0.0,
            n_estimators=400, n_jobs=1, oob_score=False, random_state=15,
            verbose=0, warm_start=True)
Grid Best Score: 0.84
Training Score: 0.89
Testing Score: 0.84

In [343]:
kf = KFold(n_splits=10)
save = RandomForestClassifier()
test_score = 0
tr_fianl = np.array([])
ts_final = np.array([])
for tr_index,ts_index in kf.split(x_tr,y_tr):
    print(type(tr_index))
    model = RandomForestClassifier(n_estimators=100,n_jobs=2,random_state=35,warm_start=True,criterion='gini',max_features=0.3)
    model.fit(x_tr[tr_index],y_tr[tr_index])
#     test_score = model.score(x_tr[ts_index],y_tr[ts_index])
    if model.score(x_tr[ts_index],y_tr[ts_index]) > test_score:
        save = model
        test_score = model.score(x_tr[ts_index],y_tr[ts_index])
        tr_final = tr_index
        ts_final = ts_index
#     pred = model.predict(x_ts)
    print("Training Score: %.2f\nTesting Score: %.2f" %(model.score(x_tr[tr_index],y_tr[tr_index]),model.score(x_tr[ts_index],y_tr[ts_index])))
    print('-----------------------------------------')
    
# f1_score(y_ts,pred)

<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.76
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.85
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.85
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.75
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.79
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.87
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.87
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.82
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.73
-----------------------------------------
<class 'numpy.ndarray'>
Training Score: 0.99
Testing Score: 0.86
-----------------------------------------

In [344]:
save.score(x_ts,y_ts)
# test_score

0.84304932735426008

In [345]:
kf = KFold(n_splits=n_splits)
for tr_index,ts_index in kf.split(X,y):
#     clf6 = VotingClassifier(estimators = [('svc',clf1.best_estimator_),('rfc',clf2.best_estimator_),('etc',clf3.best_estimator_),('gbc',clf4.best_estimator_),('dtc',clf5.best_estimator_)])
    X_train = X[tr_index]
    X_test = X[ts_index]
    y_train = y[tr_index]
    y_test = y[ts_index]
    
    clf2.fit(X_train,y_train)
    print('Training Score : %0.2f'%clf2.score(X_train,y_train))
    print('Testing Score : %0.2f'%clf2.score(X_test,y_test))

Fitting 10 folds for each of 2 candidates, totalling 20 fits

[Parallel(n_jobs=2)]: Done  20 out of  20 | elapsed:    8.6s finished

Training Score : 0.89
Testing Score : 0.77
Fitting 10 folds for each of 2 candidates, totalling 20 fits

[Parallel(n_jobs=2)]: Done  20 out of  20 | elapsed:    9.2s finished

Training Score : 0.88
Testing Score : 0.87
Fitting 10 folds for each of 2 candidates, totalling 20 fits

[Parallel(n_jobs=2)]: Done  20 out of  20 | elapsed:    8.9s finished

Training Score : 0.88
Testing Score : 0.80
Fitting 10 folds for each of 2 candidates, totalling 20 fits

KeyboardInterrupt:

In [399]:
data_test = pd.read_csv('test.csv')
print('Number Of Rows: {}'.format(len(data_test)))
print('---------------------------------------')
data_test.head(3)

Number Of Rows: 418
---------------------------------------

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [400]:
data_submit = pd.read_csv('gender_submission.csv')
print(len(data_submit.PassengerId))
print(len(data_test.PassengerId))
print(len(data_submit.PassengerId) == len(data_test.PassengerId))
data_submit.head()

418
418
True

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [401]:
data_test.drop(data_test.columns[[2,7,9,10]],axis=1,inplace=True)
len(data_test.PassengerId)
data_test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [402]:
data_test.Sex = data_test.Sex.astype('category').cat.codes

In [403]:
data_test.groupby('Sex').Age.mean()

Sex
0    30.272362
1    30.272732
Name: Age, dtype: float64

In [404]:
# test_mean_age = mean_age = np.sqrt(np.sum(np.square(data_train.Age.dropna()))/len(data_train.Age.dropna()))
# data_test.fillna(value=test_mean_age,inplace=True)
# data_test.Sex = data_test.Sex.astype('category').cat.codes

# final_X = data_test.as_matrix()
# final_X
print("Average Age Men: %.2f\nAverage Age Women %0.2f"%(data_test[data_test['Sex'] == 0].Age.mean(),data_test[data_test['Sex'] == 1].Age.mean()))
male_mean_age = data_test[data_test['Sex'] == 0].Age.mean()
female_mean_age = data_test[data_test['Sex'] == 1].Age.mean()
# data_train.set_index('Sex',inplace=True)
# data_train.loc[0].Age.fillna(male_mean_age,inplace=True)
# data_train.loc[1].Age.fillna(female_mean_age,inplace=True)
# data_train = data_train.reset_index()
# data_train.isnull().any()
data_test.loc[data_test['Sex'] == 0,'Age'] = data_test.loc[data_test['Sex'] == 0,'Age'].fillna(male_mean_age)
data_test.loc[data_test['Sex'] == 1,'Age'] = data_test.loc[data_test['Sex'] == 1,'Age'].fillna(female_mean_age)
data_test['FamilySize'] = data_test['SibSp'] + data_test['Parch']

# data_test.drop(data_test.columns[[0,4,5]],axis=1,inplace=True)
# data_test.drop(data_test.columns[[0,4,5]],axis=1,inplace=True)

data_test

Average Age Men: 30.27
Average Age Women 30.27

     PassengerId  Pclass  Sex        Age  SibSp  Parch      Fare  FamilySize
0            892       3    1  34.500000      0      0    7.8292           0
1            893       3    0  47.000000      1      0    7.0000           1
2            894       2    1  62.000000      0      0    9.6875           0
3            895       3    1  27.000000      0      0    8.6625           0
4            896       3    0  22.000000      1      1   12.2875           2
5            897       3    1  14.000000      0      0    9.2250           0
6            898       3    0  30.000000      0      0    7.6292           0
7            899       2    1  26.000000      1      1   29.0000           2
8            900       3    0  18.000000      0      0    7.2292           0
9            901       3    1  21.000000      2      0   24.1500           2
10           902       3    1  30.272732      0      0    7.8958           0
11           903       1    1  46.000000      0      0   26.0000           0
12           904       1    0  23.000000      1      0   82.2667           1
13           905       2    1  63.000000      1      0   26.0000           1
14           906       1    0  47.000000      1      0   61.1750           1
15           907       2    0  24.000000      1      0   27.7208           1
16           908       2    1  35.000000      0      0   12.3500           0
17           909       3    1  21.000000      0      0    7.2250           0
18           910       3    0  27.000000      1      0    7.9250           1
19           911       3    0  45.000000      0      0    7.2250           0
20           912       1    1  55.000000      1      0   59.4000           1
21           913       3    1   9.000000      0      1    3.1708           1
22           914       1    0  30.272362      0      0   31.6833           0
23           915       1    1  21.000000      0      1   61.3792           1
24           916       1    0  48.000000      1      3  262.3750           4
25           917       3    1  50.000000      1      0   14.5000           1
26           918       1    0  22.000000      0      1   61.9792           1
27           919       3    1  22.500000      0      0    7.2250           0
28           920       1    1  41.000000      0      0   30.5000           0
29           921       3    1  30.272732      2      0   21.6792           2
..           ...     ...  ...        ...    ...    ...       ...         ...
388         1280       3    1  21.000000      0      0    7.7500           0
389         1281       3    1   6.000000      3      1   21.0750           4
390         1282       1    1  23.000000      0      0   93.5000           0
391         1283       1    0  51.000000      0      1   39.4000           1
392         1284       3    1  13.000000      0      2   20.2500           2
393         1285       2    1  47.000000      0      0   10.5000           0
394         1286       3    1  29.000000      3      1   22.0250           4
395         1287       1    0  18.000000      1      0   60.0000           1
396         1288       3    1  24.000000      0      0    7.2500           0
397         1289       1    0  48.000000      1      1   79.2000           2
398         1290       3    1  22.000000      0      0    7.7750           0
399         1291       3    1  31.000000      0      0    7.7333           0
400         1292       1    0  30.000000      0      0  164.8667           0
401         1293       2    1  38.000000      1      0   21.0000           1
402         1294       1    0  22.000000      0      1   59.4000           1
403         1295       1    1  17.000000      0      0   47.1000           0
404         1296       1    1  43.000000      1      0   27.7208           1
405         1297       2    1  20.000000      0      0   13.8625           0
406         1298       2    1  23.000000      1      0   10.5000           1
407         1299       1    1  50.000000      1      1  211.5000           2
408         1300       3    0  30.272362      0      0    7.7208           0
409         1301       3    0   3.000000      1      1   13.7750           2
410         1302       3    0  30.272362      0      0    7.7500           0
411         1303       1    0  37.000000      1      0   90.0000           1
412         1304       3    0  28.000000      0      0    7.7750           0
413         1305       3    1  30.272732      0      0    8.0500           0
414         1306       1    0  39.000000      0      0  108.9000           0
415         1307       3    1  38.500000      0      0    7.2500           0
416         1308       3    1  30.272732      0      0    8.0500           0
417         1309       3    1  30.272732      1      1   22.3583           2

[418 rows x 8 columns]

In [405]:
data_test.Pclass.unique()

array([3, 2, 1])

In [406]:
class1_mean = data_test[data_test['Pclass'] == 1].Fare.mean()
class2_mean = data_test[data_test['Pclass'] == 2].Fare.mean()
class3_mean = data_test[data_test['Pclass'] == 3].Fare.mean()
print(class1_mean,class2_mean,class3_mean)
data_test.loc[data_test['Pclass'] == 1,'Fare'] = data_test.loc[data_test['Pclass'] == 1,'Fare'].fillna(class1_mean)
data_test.loc[data_test['Pclass'] == 2,'Fare'] = data_test.loc[data_test['Pclass'] == 2,'Fare'].fillna(class2_mean)
data_test.loc[data_test['Pclass'] == 3,'Fare'] = data_test.loc[data_test['Pclass'] == 3,'Fare'].fillna(class3_mean)
data_test.isnull().any()

94.28029719626169 22.20210430107527 12.459677880184334

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
FamilySize     False
dtype: bool

In [407]:
data_test['Pclass X Fare'] = data_test['Pclass'] * data_test['Fare']
data_test['Pclass X Fare X Age'] = data_test['Pclass X Fare'] * data_test['Age']
data_test.drop(['PassengerId','Parch','SibSp','Pclass X Fare','Age'],axis=1,inplace=True)

In [408]:
final_X = data_test.as_matrix()
final_X

array([[  3.00000000e+00,   1.00000000e+00,   7.82920000e+00,
          0.00000000e+00,   8.10322200e+02],
       [  3.00000000e+00,   0.00000000e+00,   7.00000000e+00,
          1.00000000e+00,   9.87000000e+02],
       [  2.00000000e+00,   1.00000000e+00,   9.68750000e+00,
          0.00000000e+00,   1.20125000e+03],
       ...,
       [  3.00000000e+00,   1.00000000e+00,   7.25000000e+00,
          0.00000000e+00,   8.37375000e+02],
       [  3.00000000e+00,   1.00000000e+00,   8.05000000e+00,
          0.00000000e+00,   7.31086471e+02],
       [  3.00000000e+00,   1.00000000e+00,   2.23583000e+01,
          2.00000000e+00,   2.03054045e+03]])

In [409]:
clf2.best_estimator_.score(x_ts,y_ts)

0.88789237668161436

In [410]:
final_y = clf2.predict(final_X)
final_y.shape

(418,)

In [411]:
data_submit['Survived_'] = final_y
del data_submit['Survived']
data_submit.rename(columns = {'Survived_':'Survived'},inplace=True)
data_submit.shape

(418, 2)

In [412]:
data_submit.set_index('PassengerId')

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0
897                 0
898                 0
899                 0
900                 1
901                 0
902                 0
903                 0
904                 1
905                 0
906                 1
907                 1
908                 0
909                 0
910                 0
911                 0
912                 0
913                 0
914                 1
915                 1
916                 1
917                 0
918                 1
919                 0
920                 0
921                 0
...               ...
1280                0
1281                0
1282                0
1283                1
1284                0
1285                0
1286                0
1287                1
1288                0
1289                1
1290                0
1291                0
1292                1
1293                0
1294                1
1295                0
1296                0
1297                0
1298                0
1299                0
1300                0
1301                1
1302                0
1303                1
1304                1
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [413]:
data_submit.to_csv('submission.csv',index=False)